//  COLORS
//================================
$black: #000;
$white: #fff;

$lt-grey: #85856e;
$md-grey: #252525;
$grey: #292929;

// sky colors
$sky-lvl-0: #0c2e42;
$sky-lvl-1: #2e6483;
$sky-lvl-2: #85856e;
$sky-lvl-3: #e29b30;
$sky-lvl-4: #da5b17;
$sky-lvl-5: #66240d;

//sun colors
$sun-lvl-0: #ffe483;
$sun-lvl-1: #ffc700;
$sun-lvl-2: #ff8117;
$sun-lvl-3: #f5740300;
$sun-lvl-4: #f5740300;
$lt-yellow: #CDFBD1;
$red: #ff1818;
//weld colors
$vltr-blue: #DDEDFF;
$vlt-blue:#e1ecf9;
$ltr-blue:#cee4ff;
$lt-blue:#BADAFF;
//--------------

//info-card
$card-primary: #0b192d;
$card-secondary: #90c7a1;
$card-cross: #3b5042;
$card-tertiary: #ffc700;

// Grid
$grid-width: 114rem;
$gutter-verical: 8rem;
$gutter-horizontal: 6rem;