//  COLORS
//================================
$black: #000;
$white: #fff;

$ltr-grey: #F9FAFB;

$ink: #212B36;
$lt-ink: #454F5B;
$ltr-ink: #637381;
$lte-ink: #919EAB;

$grey: #C4CDD5;
$md-grey: #DFE3E8;

$purple: #9C6ADE;

$teal: #47C1BF;