//  COLORS
//================================
$black: #000;
$white: #fff;
// sky colors
$sky-lvl-0: #000508;
$sky-lvl-1: #163C52;
$sky-lvl-2: #4F4F47;
$sky-lvl-3: #C5752D;
$sky-lvl-4: #B7490F;
$sky-lvl-5: #2F1107;

//sun colors
$sun-lvl-0: #ffe483;
$sun-lvl-1: #ffc700;
$sun-lvl-2: #ff8117;
$sun-lvl-3: #f5740300;
$sun-lvl-4: #f5740300;
$lt-yellow: #CDFBD1;
$red: #ff1818;
//weld colors
$vltr-blue: #DDEDFF;
$vlt-blue:#e1ecf9;
$ltr-blue:#cee4ff;
$lt-blue:#BADAFF;
//--------------
// Grid
$grid-width: 114rem;
$gutter-verical: 8rem;
$gutter-horizontal: 6rem;