// 
// 
.navigation {
    position: fixed;
    display: flex;

    width: 100%;
    max-width: 100vw;
    background: rgba($md-grey,0.5);
    color: $white;
    text-transform: uppercase;
    font-size: 3rem;
    z-index: 10;

    &__nav {
      flex: 1 0;
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    &__item {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0 1rem;
      padding: 0 1rem;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      user-select: none;
      background: linear-gradient(transparent 0%, transparent 50%,transparent 50%);
      transition: transform .3s;
  
      &::before {
        @include gradient-highlight(-26%);
        
      }
      &::after {
        @include gradient-highlight(100%);
      }
      &:hover, &.active {
        &::before {
          transform: translateY(0)
        }
        &::after {
          transform: translateY(75%)
        }
        transform: scale(1.1);
        text-shadow: 2px 2px $md-grey;
      }
    }
    &__link {
      display: block;
      font-size: 1.8rem;
      text-decoration: none;
      letter-spacing: .2rem;
    }
    &__logo {
      display: flex;
      width: 6.5rem;
      height: 5rem;
    }
    &__label{
      display: inline-block;
      margin-left: 25px;
    }
    &__checkbox {
      display: none;
    }
  }
