* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.page-wrapper {
      overflow: hidden;
}

.sky {
  position: relative;
  background: linear-gradient(to bottom, #000508 0%, #163C52 25%, #4F4F47 40%, #C5752D 53%, #B7490F 85%, #2F1107 100%);
  width: 100%;
  height: 75vh;

  .sun {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 45%;
    left: 20%;
    border-radius: 50%;
    background: radial-gradient(circle, #ffe483 0%, #ffc700 10%, #ff8117 11%, #f5740300 35%, #f5740300 100%);
  }
  .svg-image, .light-wrapper {
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    max-height: 75vh;


  }
  .background-left {
    width: 60%;
    margin-left: -36px;
    transform: scaleX(-1);
    bottom: -15px;
  }
  .background-right {
    margin-right: 0;
  }
  .background {
    width: 100%;
    margin: 0 -20px;
    margin-bottom: -10px;
    // Keep this for now...
    // &.one {
    //   background: url("assets/background-1.svg");
    //   background-repeat: no-repeat;
    //   background-size: cover;
    // }
    // &.two {
    //   background: url("assets/background-2.svg");
    //   background-repeat: no-repeat;
    //   background-size: cover;
    // }
    // &.three {
    //   background: url("assets/background-3.svg");
    //   background-repeat: no-repeat;
    //   background-size: cover;
    // }
    // &.four {
    //   background: url("assets/background-4.svg");
    //   background-repeat: no-repeat;
    //   background-size: cover;
    // }
  }
  .background-grid {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    top: 0;
    align-items: flex-end;
  }
  .light-wrapper {
    height: 100%;
  }
  .weld-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

.ground {
  background: black;
  width: 100%;
  height: 25vh;
}

.svg-components {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 75vh;

  svg{
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    bottom: -7px;
    right: 0;
    margin: auto;
    max-height: calc(80vw / 1.33);
    margin-right: 0;
  }
}

.container {
  position: relative;
}

.light-bar {
    max-height: 75vh;
    transform: rotate(3.8deg);
    display: flex;
    justify-content: space-around;
    width: 90%;
    position: absolute;
    height: 1px;
    margin: auto 8% 62% auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.light {
  &.red {
    visibility: visible;
    opacity: 1;
    width: 1px;
    height: 1px;
    box-shadow: 0 0 5px 5px #ff1818;
    background-color: #ff1818;
    animation: strobe 3s steps(2, start) infinite;
    animation-direction: alternate;
  }

}
  .st0{fill:#BABBBC;}
  .st1{fill:#3B3A3C;}
  .st2{fill:#121210;}
  .st3{fill:none;stroke:#211C1D;stroke-width:2.16;stroke-miterlimit:22.926;}
.hook {
  
  animation: move-hook 45s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.cable {
  stroke-width: 1;
  stroke: black;
  stroke-dasharray: 650;
  stroke-dashoffset: 0;
  animation: move-cable 45s infinite,
             move-trolly 45s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;

}

.trolly-movement {
  animation: move-trolly 45s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes strobe {
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes move-trolly {
  0% { transform: translateX(-55%) translateY(-6.5%) scale(1.1);}
  10% { }
  25% { transform: translateX(-50%) translateY(-6.5%) scale(1.1); }
  40% { }
  //50% { transform: translateX(-50%) translateY(-6.5%) scale(1.1);}
  60% { }
  75% { transform: translateX(-5%) translateY(0) scale(1);}
  80% { }
  90% { }
  100% { transform: translateX(-5%) translateY(0) scale(1);}
}
@keyframes move-cable {
  0% { stroke-dashoffset: 0;}
  25% { stroke-dashoffset: -430;}
  50% { stroke-dashoffset: -430;}
  75% { stroke-dashoffset: -430;}
  100% { stroke-dashoffset: 0;}
}

@keyframes move-hook {
  0% { transform: translateX(-55%) translateY(55%) scale(1.1);}
  10% { }
  25% { transform: translateX(-50%) translateY(-6.5%) scale(1.1); }
  40% { }
  //50% { transform: translateX(-50%) translateY(-6.5%) scale(1.1);}
  60% { }
  75% { transform: translateX(-5%) translateY(0) scale(1);}
  80% { }
  90% { }
  100% { transform: translateX(-5%) translateY(55%) scale(1);}
}


