/*
0-600px phone (37.5em)
600-900px tablet (56.25em)
1200 - 1800 desktop (75 em)
1800px + larger desktop (112.5em)

*/
.animation__slide-in {
  will-change: transform;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: 1s;
  transition: 1s; }
  .animation__slide-in.active {
    -webkit-transform: translateX(0);
            transform: translateX(0); }

.animation__fade-in {
  will-change: opacity;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s; }
  .animation__fade-in.active {
    opacity: 1; }

@-webkit-keyframes pulse {
  from {
    opacity: 0; }
  to {
    opacity: 0.5; } }

@keyframes pulse {
  from {
    opacity: 0; }
  to {
    opacity: 0.5; } }

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 75em) {
    html {
      font-size: 52%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 48%; } }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.hidden {
  visibility: hidden; }

.active {
  visibility: visible; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 5rem;
  width: 100%; }
  .grid__item {
    grid-column: span 2; }
    .grid__item--double {
      grid-column: span 1;
      grid-row: span 2; }

img {
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background: #fff;
  color: #212B36;
  letter-spacing: 1px; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.5rem;
  text-decoration: underline; }

h4 {
  font-size: 2rem; }

p {
  font-size: 1.8rem; }

.chart {
  position: relative;
  height: 100vh; }
  .chart__canvas-wrapper {
    background: #212B36; }
  .chart__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .chart__title {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, rgba(33, 43, 54, 0.9)), color-stop(75%, rgba(33, 43, 54, 0.9)), to(transparent));
    background: linear-gradient(to bottom, transparent, rgba(33, 43, 54, 0.9) 25%, rgba(33, 43, 54, 0.9) 75%, transparent 100%);
    padding: 2rem 0;
    overflow: hidden;
    position: relative; }
  .chart__heading, .chart__subheading {
    color: #fff;
    text-align: center;
    z-index: 1;
    line-height: 1.2;
    letter-spacing: 3px; }
  .chart__heading {
    font-size: 6rem; }
  .chart__subheading {
    font-size: 2rem; }
    .chart__subheading:nth-of-type(2) {
      position: absolute;
      left: 100%;
      width: 100%;
      bottom: 2rem; }
  .chart__slide {
    will-change: transform;
    -webkit-animation: slide 1s ease-in-out 4s 1 normal forwards;
            animation: slide 1s ease-in-out 4s 1 normal forwards; }

.page-section {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 2rem 0 4rem 0; }
  .page-section__container {
    width: 90%;
    padding: 6rem 0;
    max-width: 120rem;
    margin: 0 auto; }
  .page-section__title {
    display: block;
    text-align: center; }
    .page-section__title--alt {
      position: relative;
      z-index: 5;
      display: block;
      text-align: center;
      background: #454F5B;
      color: #fff;
      -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
              box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6); }
  .page-section__image--border {
    border: 1rem solid #F9FAFB;
    border-radius: 50%;
    max-width: 100%; }

.project-background {
  background: repeating-linear-gradient(transparent, transparent 97px, rgba(71, 193, 191, 0.8) 98px, transparent 100px), repeating-linear-gradient(to right, transparent, transparent 97px, rgba(156, 106, 222, 0.8) 98px, transparent 100px);
  background-color: #212B36; }
  .project-background::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #212B36;
    opacity: 0;
    will-change: opacity;
    -webkit-animation: pulse 2s ease-in-out infinite alternate;
            animation: pulse 2s ease-in-out infinite alternate; }

.info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 75em) {
    .info-card {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .info-card__item {
    text-align: center;
    width: 100%;
    margin: 4rem 1rem;
    max-width: 40rem; }
    .info-card__item:first-child {
      margin-left: 0; }
    .info-card__item:last-child {
      margin-right: 0; }
  .info-card__icon {
    display: inline-block;
    width: 5rem;
    padding-right: 1rem; }
  .info-card__text {
    display: inline-block;
    font-size: 2rem;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; }
    .info-card__text span {
      display: block;
      font-size: 1.5rem; }
  .info-card__skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    padding-left: 25%;
    border-bottom: 2px solid #DFE3E8; }
  .info-card__cert {
    padding-left: 0;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1.5; }
  .info-card__column-text {
    padding: 1rem;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; }
    @media (max-width: 37.5em) {
      .info-card__column-text {
        padding: 10%; } }
  .info-card__heading--primary {
    background-size: 20rem 20rem;
    background-color: #007ACE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2.5%;
    letter-spacing: 2px;
    height: 8rem;
    border-bottom: 2px solid #DFE3E8;
    color: #fff;
    border-radius: 10px 10px 0px 0px; }
    .info-card__heading--primary * {
      font-size: 4rem;
      background-color: transparent;
      padding: 0 1rem; }
  .info-card__heading--secondary {
    background-color: #00848E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2.5%;
    letter-spacing: 2px;
    height: 8rem;
    border-bottom: 2px solid #DFE3E8;
    color: #fff;
    border-radius: 10px 10px 0px 0px; }
    .info-card__heading--secondary * {
      font-size: 4rem;
      background-color: transparent;
      padding: 0 1rem; }
  .info-card__heading--tertiary {
    background-color: #9C6ADE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2.5%;
    letter-spacing: 2px;
    height: 8rem;
    border-bottom: 2px solid #DFE3E8;
    color: #fff;
    border-radius: 10px 10px 0px 0px; }
    .info-card__heading--tertiary * {
      font-size: 4rem;
      background-color: transparent;
      padding: 0 1rem; }

.project-grid {
  display: grid;
  grid-template-columns: repeat(6, 12.5rem);
  grid-column-gap: 1rem;
  grid-auto-rows: 23rem;
  margin-bottom: 5rem;
  max-width: calc(6 * 12.5rem);
  margin: 10rem auto; }
  @media (max-width: 75em) {
    .project-grid {
      grid-template-columns: repeat(4, 12.5rem);
      max-width: calc(4 * 12.5rem); } }
  @media (max-width: 37.5em) {
    .project-grid {
      grid-template-columns: 24rem;
      grid-auto-rows: 34rem;
      max-width: 24rem; } }
  .project-grid__item {
    grid-column: span 2; }
    .project-grid__item:nth-child(5n+1) {
      grid-column-start: 1; }
    .project-grid__item:nth-child(5n+2) {
      grid-column-start: 3; }
    .project-grid__item:nth-child(5n+3) {
      grid-column-start: 5; }
    .project-grid__item:nth-child(5n+4) {
      grid-column-start: 2; }
    .project-grid__item:nth-child(5n) {
      grid-column-start: 4; }
    @media (max-width: 75em) {
      .project-grid__item:nth-child(5n+1) {
        grid-column-start: 1; }
      .project-grid__item:nth-child(5n+2) {
        grid-column-start: 3; }
      .project-grid__item:nth-child(5n+3) {
        grid-column-start: 2; }
      .project-grid__item:nth-child(5n+4) {
        grid-column-start: 1; }
      .project-grid__item:nth-child(5n) {
        grid-column-start: 3; } }
    @media (max-width: 37.5em) {
      .project-grid__item:nth-child(5n+1) {
        grid-column-start: auto; }
      .project-grid__item:nth-child(5n+2) {
        grid-column-start: auto; }
      .project-grid__item:nth-child(5n+3) {
        grid-column-start: auto; }
      .project-grid__item:nth-child(5n+4) {
        grid-column-start: auto; }
      .project-grid__item:nth-child(5n) {
        grid-column-start: auto; } }
  .project-grid__hexagon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    text-align: center;
    margin-left: .5rem;
    width: 25rem;
    height: 14.5rem;
    cursor: pointer;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    will-change: scale;
    -webkit-transition: all .25s;
    transition: all .25s;
    background-color: #fff; }
    .project-grid__hexagon::before, .project-grid__hexagon::after {
      display: block;
      content: "";
      position: absolute;
      height: inherit;
      width: inherit;
      background: #fff; }
    .project-grid__hexagon:before {
      -webkit-transform: rotateZ(60deg);
              transform: rotateZ(60deg); }
    .project-grid__hexagon:after {
      -webkit-transform: rotateZ(-60deg);
              transform: rotateZ(-60deg); }
    @media (max-width: 37.5em) {
      .project-grid__hexagon {
        width: 25rem;
        height: 14.5rem; } }
    .project-grid__hexagon:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .project-grid__hex-content {
    position: relative;
    z-index: 10; }
    .project-grid__hex-content a {
      text-decoration: none;
      color: #000; }

.icon-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media (max-width: 56.25em) {
    .icon-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .icon-container::before {
    content: "";
    display: block;
    position: absolute;
    background: #9C6ADE;
    top: 0;
    bottom: 0;
    left: -100%;
    right: -2rem;
    -webkit-box-shadow: 3px 3px 11px rgba(33, 43, 54, 0.5);
            box-shadow: 3px 3px 11px rgba(33, 43, 54, 0.5); }
    @media (max-width: 56.25em) {
      .icon-container::before {
        display: none; } }
  .icon-container > * {
    position: relative;
    z-index: 2; }
  .icon-container .icon-item {
    margin: 2rem 0;
    padding: 1rem 0;
    color: #fff; }
    @media (max-width: 56.25em) {
      .icon-container .icon-item:nth-child(even)::before {
        content: "";
        display: block;
        position: absolute;
        background: #47C1BF;
        top: 0;
        bottom: 0;
        left: -100%;
        right: -2rem;
        -webkit-box-shadow: 3px 3px 11px rgba(33, 43, 54, 0.5);
                box-shadow: 3px 3px 11px rgba(33, 43, 54, 0.5);
        left: -100vw; } }
    @media (max-width: 56.25em) {
      .icon-container .icon-item:nth-child(odd)::before {
        content: "";
        display: block;
        position: absolute;
        background: #9C6ADE;
        top: 0;
        bottom: 0;
        left: -100%;
        right: -2rem;
        -webkit-box-shadow: 3px 3px 11px rgba(33, 43, 54, 0.5);
                box-shadow: 3px 3px 11px rgba(33, 43, 54, 0.5);
        left: -100vw; } }
    .icon-container .icon-item > * {
      position: relative;
      z-index: 2; }
    .icon-container .icon-item svg {
      display: block;
      margin: auto; }
      .icon-container .icon-item svg * {
        stroke: #fff; }
    .icon-container .icon-item__text {
      margin-top: 2rem;
      white-space: nowrap; }
    @media (max-width: 56.25em) {
      .icon-container .icon-item:nth-child(1) {
        padding-left: calc(25% * 0); } }
    @media (max-width: 56.25em) {
      .icon-container .icon-item:nth-child(2) {
        padding-left: calc(25% * 1); } }
    @media (max-width: 56.25em) {
      .icon-container .icon-item:nth-child(3) {
        padding-left: calc(25% * 2); } }
    @media (max-width: 56.25em) {
      .icon-container .icon-item:nth-child(4) {
        padding-left: calc(25% * 3); } }

.footer {
  background: #212B36;
  min-height: 200px; }
  .footer::before {
    display: block;
    content: "";
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 3rem;
    background: #454F5B; }
  .footer__social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2rem; }
  .footer__icon {
    width: 100%;
    -webkit-transition: .5s;
    transition: .5s;
    will-change: transform; }
    .footer__icon:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .footer__link {
    display: block;
    margin: 1rem 2rem;
    -ms-flex-preferred-size: 6rem;
        flex-basis: 6rem; }
  .footer__text {
    margin: 2rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    color: #fff;
    text-align: center; }
