.light {
    @include normalize-height;
    &__bar {
        transform: rotate(4deg) translateX(4rem);
        display: flex;
        justify-content: space-between;
        bottom: -17%;
        @include set-w-h-p(85%, 100%, absolute);
    }
    &__red {
        visibility: visible;
        opacity: 1;
        box-shadow: 0 0 .5rem .5rem $red;
        background-color: $red;
        animation: strobe 3s steps(2, start) infinite;
        animation-direction: alternate;
        will-change: opacity;
        @include set-w-h-p(.1rem, .1rem, relative);
        &--top {
            position: absolute;
            top: 9%;
            right: 29%;
        }
    }
}