.particle {
    opacity: 0;
    position: absolute;
    background-color: rgba($lt-yellow, 1);
    will-change: transform;
    &__negative--X {
        animation: sparks-neg-X .7s infinite, welding 8s infinite;
    }
    &__positive--X {
        animation: sparks-pos-X .7s infinite, welding 8s infinite;
    }
}

.spark {
    @include normalize-height;
    &__container {
        @include set-animation-position;
    }
    &__item {
        position: relative;
        width: 10%;
        margin-top: -2rem;
        animation-timing-function: linear;
    }
}

.weld {
    @include normalize-height;
    &__container {
        @include set-animation-position;
    }
    &__item {
        opacity: 0;
        border-radius: 50%;
        animation: welding 8s infinite;
        background: radial-gradient( circle, $white 0%, $vltr-blue 25%, $vlt-blue 35%, $ltr-blue 40%, $lt-blue 50%, rgba($lt-blue, .4) 80%, rgba($lt-blue, .1) 100%);
        @include set-w-h-p(1rem, 1rem, inherit);
    }
}