.animation {
    &__slide-in {
        will-change: transform;
        transform: translateX(-100vw);
        transition: 1s;
        &.active {
            transform: translateX(0);
        }
    }
    &__fade-in {
        will-change: opacity;
        opacity: 0;
        transition: 1s;
        &.active {
            opacity: 1;
        }
    }
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}