@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}