*,
*::after,
*::before {
	margin: 0;
  padding: 0;
  // set to inherit to make it easier to change
	box-sizing: inherit;
}
// set root font size here
// set at 10px for easier mental conversion
html {
  // actually bad practice, set to percentage is better because it overrides default user font
  //font-size: 10px;

  // default browser font size is 16px set to 10
  font-size: 62.5%; // 1rem = 10px; 10px/16px 0 62.5%
  @include media(big-desktop){
    font-size: 75%; // 1rem = 12px; 10px/16px 0 62.5%
  }
  @include media(desktop){
    font-size: 56.25%; // 1rem = 9px; 10px/16px 0 62.5%
  }
  @include media(tablet){
    font-size: 52%;  // 1rem = 8px; 10px/16px 0 62.5%
  }
  @include media(phone){
    font-size: 48%;  // 1rem = 10px; 10px/16px 0 62.5%
  }
}
body {
  box-sizing: border-box;
  overflow: hidden;
}
.hidden {
  visibility: hidden;
}
.active {
  visibility: visible;
}